In [1]:
import tensorflow as tf
print(tf.__version__)

2.19.0

In [2]:
from tensorflow import keras

In [3]:
from tensorflow.keras import layers

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [9]:
df = pd.read_csv("/Users/kaustubhshinde/Downloads/boston.csv")

In [10]:
df

    Serial No. Location  Area    Price
0            1       A1  2000  2500000
1            2       A2  2100  2600000
2            3       A3  2200  2700000
3            4       A4  2300  2800000
4            5       A5  2400  2900000
5            6       A6  2500  3000000
6            7       A7  2600  3100000
7            8       A8  2700  3200000
8            9       A9  2800  3300000
9           10      A10  2900  3400000
10          11      A11  3000  3500000
11          12      A12  3100  3600000
12          13      A13  3200  3700000
13          14      A14  3300  3800000
14          15      A15  3400  3900000

In [11]:
x = df[["Area"]]
y = df["Price"]

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [13]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [14]:
model = keras.Sequential([
    layers.Dense(1, input_shape = (1,))
])

model.compile(optimizer = 'adam', loss = 'mse', metrics = ['mae'])
model.fit(x_train, y_train, epochs = 20, verbose = 1)
loss, mae = model.evaluate(x_test, y_test)
print("Mean absolute error is: ", mae)

Epoch 1/20

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 266ms/step - loss: 10469167333376.0000 - mae: 3208333.2500
Epoch 2/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 10469167333376.0000 - mae: 3208333.2500
Epoch 3/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 10469168381952.0000 - mae: 3208333.2500
Epoch 4/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 10469168381952.0000 - mae: 3208333.2500
Epoch 5/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 10469168381952.0000 - mae: 3208333.2500
Epoch 6/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 10469167333376.0000 - mae: 3208333.2500
Epoch 7/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 10469168381952.0000 - mae: 3208333.2500
Epoch 8/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 10469168381952.0000 - mae: 3208333.2500
Epoch 9/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 10469167333376.0000 - mae: 3208333.2500
Epoch 10/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 10469167333376.0000 - mae: 3208333.2500
Epoch 11/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 10469168381952.0000 - mae: 3208333.2500
Epoch 12/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 10469168381952.0000 - mae: 3208333.2500
Epoch 13/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 10469168381952.0000 - mae: 3208333.2500
Epoch 14/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 10469167333376.0000 - mae: 3208333.2500
Epoch 15/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 10469167333376.0000 - mae: 3208333.2500
Epoch 16/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 10469167333376.0000 - mae: 3208333.2500
Epoch 17/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 10469167333376.0000 - mae: 3208333.2500
Epoch 18/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 10469168381952.0000 - mae: 3208333.2500
Epoch 19/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 10469167333376.0000 - mae: 3208333.2500
Epoch 20/20
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 10469168381952.0000 - mae: 3208333.2500
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step - loss: 10256668164096.0000 - mae: 3166666.7500
Mean absolute error is:  3166666.75

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [17]:
y_pred

array([3412803.17296312, 3588063.03550294, 2624133.79153394])

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
print("mse: ", mean_squared_error(y_pred, y_test))

mse:  5238536853.306649