In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=531556dbeb388612a2867e8bf1ec24d5cf26f229cac1783d29216556833d0876
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("local[*]").getOrCreate()

In [3]:
from pyspark.conf import SparkConf

In [6]:
data = [("Kaustubh", "Anil", "Shinde", 18, "M", 200000000),
        ("Kau", " ", "Shinde", 18, "M", 200000),
        ("yash", "Anil", "Shinde", 18, "M", 2000000)]

columns = ["fname", "mname", "lname", "age", "gen", "salary" ]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show()

root
 |-- fname: string (nullable = true)
 |-- mname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- age: long (nullable = true)
 |-- gen: string (nullable = true)
 |-- salary: long (nullable = true)

+--------+-----+------+---+---+---------+
|   fname|mname| lname|age|gen|   salary|
+--------+-----+------+---+---+---------+
|Kaustubh| Anil|Shinde| 18|  M|200000000|
|     Kau|     |Shinde| 18|  M|   200000|
|    yash| Anil|Shinde| 18|  M|  2000000|
+--------+-----+------+---+---+---------+

In [7]:
rdd = spark.sparkContext.parallelize(data)

In [8]:
rdd1  = rdd.map(lambda word: (word, 1))

In [9]:
rdd2 = rdd1.reduceByKey(lambda a,b: a+b)

In [10]:
output = rdd2.collect()
output

[(('Kaustubh', 'Anil', 'Shinde', 18, 'M', 200000000), 1),
 (('Kau', ' ', 'Shinde', 18, 'M', 200000), 1),
 (('yash', 'Anil', 'Shinde', 18, 'M', 2000000), 1)]

In [11]:
from pyspark.sql.functions import mean, col, max
df1 = df.select(mean("age"), mean("salary")).show()
df.groupBy("gen")\
  .agg(mean("age"), mean("salary"), max("salary")).show()

+--------+-----------+
|avg(age)|avg(salary)|
+--------+-----------+
|    18.0|     6.74E7|
+--------+-----------+

+---+--------+-----------+-----------+
|gen|avg(age)|avg(salary)|max(salary)|
+---+--------+-----------+-----------+
|  M|    18.0|     6.74E7|  200000000|
+---+--------+-----------+-----------+